/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.ebextensions/alb-http-to-https-redirection-full.config
/storage/framework/views
/storage/*
/storage/!.gitignore