
#slider{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    max-width: 1600px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    background-color: var(--light-gray-color);
}

.subcontainer{
    /* previously 95% */
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    /* padding: 10px 0 10px 0; */
    /* background-color: blue; */
}

.slider-wrapper{
    position: relative;
}

#controls, #controls2, #controls3, #furniture-controls, #clothes-controls, #electronics-controls,  #kitchen-controls, #school-controls, #book-controls,
#liked-items-controls, #recently-viewed-controls,
#lease-controls, #nearby-items-controls{
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.previous, .next{
    padding: 2px;
    width: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--br-medium);
    outline: none;
    position: absolute;
    transition: .7s ease-in-out;
    border: 3px solid gray;
    background-color: #151416;
    box-shadow: 0 0 5px black;
}

.previous:hover, .next:hover{
    border: 3px solid var(--accent-color);
}

.previous:active, .next:active{
    transition: all 0s ease-in-out;
    transform:scale(.9);
}

.next{
    right: 0;
}

.controller{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* color:#EDEFF8; */
    color:var(--font-color-dark);
    /* border-bottom: solid 1px #EDEFF8; */
    /* position: relative; */
    padding: 30px 15px 5px 15px;
}

.sticky-class{
    position: sticky;
    top: 50px;
    z-index: 20;
    background: rgba(0,0,0,.5);
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px);     */
}

.controller div{
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.controller div span{
    font-size: 15px;
    color:var(--accent-color);
    flex-wrap: wrap;
}

@media(max-width:600px){
    .controller{
        overflow-x: clip;
    }
    .controller::after{
        width: 300px;
        height: 300px;
        left: 0;
        top: 0;
    }

    .controller div h2{
        font-size:22px;
    }
}
@media(max-width: 500px) {
    .controller div span {display:none;
    }
}
@media(max-width: 400px){
    .controller div h2{
        font-size: 18px;
    }
} 

#controls{
    z-index:10;
}

#controls i, #controls2 i, #controls3 i, #furniture-controls i, #clothes-controls i, #electronics-controls i, #kitchen-controls i, #school-controls i, #book-controls i, #liked-items-controls i, #recently-viewed-controls i,
#lease-controls i, #nearby-items-controls i{
    color: white;
    font-size: 1.3rem;
    z-index: 10;
}

/* tiny-slider carousel bug where a small circle button shows up in the top left corner */
/* this line hides the button */
/* the button is to toggle auto play on the carousel, keep playing or stop */
.tns-outer [aria-controls], .tns-outer [data-action] {
    cursor: pointer;
    visibility: hidden;
}

.cr {
  width: 200px;
  padding: 5px;
  z-index: 20;
  position: absolute;
  text-align: center;
  color: var(--green-accent-color);
  /* background-color: #151416; */
  /* background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%); */
  /* background: var(--accent-color); */
  /* color:white; */
}

.rentable{
    background-color: var(--accent-color);
    color:white;
}

.listing{
    background-color:darkolivegreen;
    color:white;
}

.sublease{
    background-color:cornflowerblue;
    color:white;
}

.cr-top    { top: 25px; }
.cr-bottom { bottom: 25px; }
.cr-left   { left: -50px; }
.cr-right  { right: -60px; }

.cr-top.cr-right,
.cr-bottom.cr-left {
  transform: rotate(45deg);
}


.slide-img{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    z-index: 10;
    border-radius:var(--br-large);
    box-shadow: 0px 12px 32px rgb(17 16 21 / 100%);
}

.slide-img a{
    width: 100%;
    height: 100%;
    /* background: var(--accent-color); */
    background-color: rgb(17 16 21 / 25%);
}

.slide-img form{
    position: absolute;
    right: 5px;
    padding: 5px;
    bottom: 5px;
}

.slide-img form button{
    color: white;
    border: none;
    outline: none;
    padding: 7px;
    background: none;
}

.slide-img form button i:hover {
    cursor: pointer;
    color: var(--accent-color);
}

.slide-img form button i{
    font-size: 20px;
}

.ribbon{
    position: absolute;
    width: fit-content;
    padding: 5px 20px;
    right: 10px;
    top: 0;
    width: 40px;
}

.ribbon2 {
    width: 30px;
    padding: 10px 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    /* border-top-left-radius: 3px; */
    /* background: #F47530; */
    background:var(--accent-color);
}
/* .ribbon2::before {
 height: 0;
 width: 0;
 right: -5.5px;
 top: 0.1px;
 border-bottom: 6px solid #8D5A20;
 border-right: 6px solid transparent;
}
.ribbon2::before, .ribbon2::after {
  content: "";
  position: absolute;
} */
.ribbon2::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    bottom: -9px;
    left: 0;
    border-left: 15px solid var(--accent-color);
    border-right: 15px solid var(--accent-color);
    border-bottom: 10px solid transparent;
}

/* .ribbon{
    position: absolute;
    width: fit-content;
    padding: 5px 20px;
    right: 0;
    top: 20px;
    color:white;
} */
/* 
.ribbon-listing{
  background-color: #57837B;
}

.ribbon-rental{
  background-color: var(--accent-color);
}

.ribbon-lease{
  background-color: cornflowerblue;
} */

.slide-img img{
    height: 250px;
    width: 100%;
    object-fit: cover !important;
}

.slide-img .status{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: red;
    z-index: 1;
    border: 2px solid white;
    border-radius: 100%;
}
.green{
    background-color: green !important;
}
.yellow{
    background-color: yellow !important;
}

.single-post-cont{
    margin: 5px;
    margin-top: 0;
    overflow: hidden;
     /* background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%) !important; */
    /* box-shadow: 0px 12px 32px rgb(17 16 21 / 50%) !important; */
    z-index: 10 !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative !important;
    -webkit-transition: all 1 ease-out;
    -moz-transition: all 1 ease-out;
    -o-transition: all 1 ease-out;
    transition: all 1 ease-out;
    border-radius: var(--br-large);
}

.clickable-card{
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,.4); */
}

/* .single-post-cont:hover{
    box-shadow: 0px 12px 32px rgb(17 16 21 / 100%) !important;
} */
.slide-img:hover{
       box-shadow: 0px 15px 32px rgb(17 16 21) !important;
}

.slid-img a {
    text-decoration: none;
    transform: scale(0);
    transition: .8s;
    font-size: 1.5rem;
    color:white;
    opacity: 0;
}

.slid-img:hover a{
    opacity: 1;
    transform: scale(1);
}

.listing-details{
    padding: 10px 15px;
    box-sizing: border-box;
    /* background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%) !important; */
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    background:var(--background-color);
    color:var(--font-color-dark);
    gap: 5px;
    border-radius: var(--br-large);
}

.listing-details-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 
.listing-details-top h1{ 
    font-size: 20px;
    color:var(--accent-color);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

/* .listing-details-top i{ 
    color:black;
    z-index: 2;
    margin-left:10px;
}  */

.listing-details-top i:hover{
    cursor: pointer;
    color:var(--accent-color);
    animation-name: shake-little;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.listing-details-middle{
    overflow: hidden;
}
.listing-details-middle a{
    color:var(--font-color-dark);
    width: 100%;
    text-decoration: none;
    font-size: 0.95em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.listing-details-bottom{
    font-size: .8em;
    color:var(--text-color-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.listing-details-bottom div{
    width: 65%;
}
.listing-details-bottom div p{
    text-decoration: none;
    font-size: 0.95em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listing-details-bottom a{
    padding: 10px 20px;
    border-radius: var(--br-medium);
    /* background-color: var(--accent-color); */
    color:white;
    text-align: center;
    height: fit-content;
}

@media(max-width: 1600px){
    .container{
        width: 100%;
    }
}

@media(max-width: 800px){
    .ribbon .gallery-ribbon{
        font-size: 15px;
    }
}

@media(max-width: 700px){
    .ribbon .gallery-ribbon{
        font-size: 14px;
    }
}

@media(max-width: 400px){
    .ribbon .gallery-ribbon{
        font-size: 12px;
    }
}