.product-details-container {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    overflow-x: clip;
    padding-top: 50px;
    flex-grow: 1;
}

.card-wrapper-selected {
    width: 100%;
    max-width: 1600px;
    height: fit-content;
    padding: 4% 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-button {
    width: 100%;
    padding: 10px 0;
}

.card-selected {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.selected-row {
    width: 100%;
    min-height: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
}

/* left side of the show page, aka the image and the showcase/gallery */
.selected-row .product-imgs {
    width: 65%;
    min-width: 65%;
    display: flex;
    flex-direction: column;
}

.img-display {
    position: relative;
    width: 100%;
    height: 450px;
    /* overflow: hidden; */
    margin-bottom: 10px;
    border: 1px solid var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:var(--background-color-light); */
    /* background-color: rgba(); */
    position: relative;
    border-radius: var(--br-large);
    z-index: 10;
    box-shadow: 0px 12px 32px rgb(17 16 21 / 60%);
    border: 1px solid var(--border-color-1);
}

.img-display img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    border-radius: var(--br-large);
}

.img-display .share-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: fit-content;
    height: fit-content;
}
.img-display .share-container form button {
    padding: 10px;
}
.img-display .share-container form i {
    font-size: 20px;
}

.img-display .bottom-right{
    bottom: 20px;
    top:unset;
}

.product-ribbon, .product-ribbon-inner{
    width: 40px !important;
    right: 10px !important;
}

.product-ribbon-inner{
    top: -8px !important;
}

.product-ribbon-inner::before {
    content: "";
    position: absolute;
    height: 0 !important;
    width: 0 !important;
    right: -9.5px !important;
    top: -0.5px !important;
    border-bottom: 9px solid #8D5A20 !important;
    border-right: 10px solid transparent !important;
}


.product-ribbon-inner::after {
    bottom:-18px !important;
    border-left: 20px solid var(--accent-color) !important;
    border-right: 20px solid var(--accent-color) !important;
    border-bottom: 20px solid transparent !important;
}

.stat-container {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
}
.stat {
    width: 15px;
    height: 15px;
    position: relative;
    background-color: red;
    border: 2px solid white;
    border-radius: 100%;
}
.green {
    background-color: green !important;
}
.yellow {
    background-color: yellow !important;
}

.img-showcase {
    height: 125px;
    display: flex;
    gap: 10px;
    overflow: scroll;
    background-color: var(--background-color-dark);
    padding: 5px;
    border-radius: var(--br-medium);
    border: 1px solid var(--border-color-1);
}

.img-showcase {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.img-showcase::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.img-showcase img {
    border-radius: var(--br-small);
    max-width: 250px;
    object-fit: cover;
}

.img-showcase img:hover {
    cursor: pointer;
}

.img-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.img-list li {
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
    position: relative;
    border: 1px solid var(--dark-color);
    margin: 5px;
    background: rgba(123, 121, 132, 0.2);
    /* z-index:10;  */
    box-shadow: 0px 0px 26px 11px rgb(0 0 0 / 50%);
}

.img-list li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-list li img:hover {
    cursor: pointer;
}

/* lef side of the show page ends here */

/* right side of the show page css */
.product-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    width: 100%;
    color:var(--font-color-dark);
}

.product-content .product-details {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--background-color-dark);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid var(--border-color-1);
    border-bottom: 1px solid var(--border-color-1);
    color: var(--font-color-light);
    border-radius: var(--br-large);
}

.map-container {
    width: 100%;
    flex-grow: 1;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    border-radius: var(--br-large);
    overflow: hidden;
    background-color: var(--background-color-light);
}

.map-container img,
.map-container-mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details .price-favorite {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price-favorite h1 {
    font-size: 30px;
}

.price-favorite form {
    height: 100%;
    width: fit-content;
    padding: 0 20px;
}

.price-favorite form button{
    color: var(--font-color-light);
    border: none;
    outline: none;
    padding: 7px;
    background: none;
}

.price-favorite form button i {
    font-size: 30px;
    cursor: pointer;
}

.price-favorite form button i:hover {
    color: var(--accent-color);
}

.saved {
    color: var(--accent-color) !important;
}

.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0% {
        top: 0em;
    }
    40% {
        top: 0em;
    }
    43% {
        top: -0.7em;
    }
    46% {
        top: 0em;
    }
    48% {
        top: -0.2em;
    }
    50% {
        top: 0em;
    }
    100% {
        top: 0em;
    }
}

.product-details .product-header {
    width: 100%;
}

.product-header h1 {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product-extra div,
.product-details .date-posted {
    display: flex;
    flex-direction: row;
}

.product-extra div:nth-of-type(2) {
    margin-bottom: 5px;
}
.product-extra div p,
.product-details .date-posted p {
    width: 150px;
}

.product-extra div span,
.product-details .date-posted span{
    color: var(--accent-color);
}

.product-extra p,
.product-extra i,
.product-category p {
    padding: 1px 0;
    height: fit-content;
    font-size: 17px;
}

.product-extra i {
    width: 20px;
    text-align: center;
    margin-right: 10px;
    color: var(--accent-color);
}

.product-category,
.categories-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.categories-container {
    margin-bottom: 10px;
    width: 100%;
}

.categories-container .categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 0;
    flex-wrap: wrap;
}

.categories a {
    padding: 0 10px;
    background-color: var(--accent-color);
    color: white;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
}

/* right side of the show page css ends here */

/* bottom description and map stuff beings here */
.description-chat{
    width: 65%;
    min-width: 65%;
    display: flex;
    flex-direction: column;
    gap:20px;
    border-radius: var(--br-large);
    height: fit-content;
}
.product-description-area {
    width: 100%;
    padding: 20px;
    border-radius: var(--br-large);
    overflow: hidden;
    height: fit-content;
    color: var(--font-color-light);
    background: var(--background-color-dark);

}

.product-description-area .controls {
    width: 100%;
    height: fit-content;
    /* background-color: brown; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.controls form {
    padding: 0 5px;
}
.controls form,
.controls span {
    width: fit-content;
    height: 30px;
    background: none;
    border-radius: var(--br-small);
    display: flex;
    align-items: center;
}

.controls form button {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: none;
}

.controls .editForm button i,
.controls .shareForm button i,
.controls span i {
    font-size: 20px;
    padding: 5px 10px;
    color:var(--font-color-light);
    cursor: pointer;
}

.controls .editForm button i:hover,
.controls .shareForm button i:hover,
.controls span i:hover {
    color: var(--accent-color);
}

.product-description-area h1 {
    margin-bottom: 10px;
}

.about-seller-and-chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    height: fit-content;
}

.about-seller{
    height: 80px;
    width: 100%;
    background-color: #2D2B37;
    /* background: var(--accent-color); */

    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--br-large);
}

.about-seller i {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.about-seller p {
    line-height: 22px;
}

/* .chat-seller {
    width: 100%;
    height: 50px;
    background-color: var(--accent-color-green);
    border-radius: var(--br-large);
}

.chat-seller a {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.map-container-mobile {
    display: none;
    overflow: hidden;
}

/* bottom page description and map stuff ends here */

/* Modal Content/Box styling begins here*/
.modal {
    display: none;
    position: fixed; /* Stay in place */
    /* background-color: brown; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgb(0,0,0); */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
}

.modal-content {
    margin: auto;
    padding: 20px;
    width: 50%;
    height: fit-content;
    position: relative;
    background: linear-gradient(261.71deg, #3a3845 13.92%, #2c2a36 84.19%);
}

.sad-dog-container {
    position: absolute;
    right: 10px;
    width: 100px;
    height: 100px;
    top: -85px;
    /* background-color: red; */
}

.sad-dog-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.modal-content p {
    margin: 10px 30px 10px 0;
    width: 100%;
    color: var(--accent-color);
}

.modal-content .clearfix {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

/* end modal styling */

/* messaging page css */

.chat-container {
    display: flex;
    width: 100%;
    min-width: 100%;
    min-height: 350px;
    max-height: 350px;
    position: relative;
    overflow: hidden;
    padding: 10px;
    background-color: var(--background-color-dark);
    border-radius: var(--br-large);
}

.product-showcase {
    min-height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-light);
    border-radius: var(--br-large);
}

.main-image-area,
.main-image {
    width: 100%;
    height: 50%;
    max-height: 300px;
    position: relative;
}

.main-image {
    height: 100%;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-product-details {
    gap: 20px;
    height: 100% !important;
}

.user-panel {
    width: 100%;
    height: 100%;
}

.user-wrapper,
.messages-container {
    position: relative;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: auto;
    padding: 10px 10px;
}

.user,
.no-messages {
    cursor: pointer;
    padding: 10px;
    position: relative;
    min-height: fit-content;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background-color: #3a3845;
    box-shadow: 0px 12px 32px rgb(17 16 21 / 50%);
    overflow: hidden;
}

.no-messages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-wrapper::-webkit-scrollbar {
    display: none;
}

.active {
    display: flex;
}
/* messaging page end css */

/* responsive css begins here */

@media (max-width: 1500px) {
    .card-wrapper-selected {
        padding: 4% 100px;
    }
}

@media (max-width: 1300px) {
    .card-wrapper-selected {
        padding: 4% 70px;
    }
}

@media (max-width: 1200px) {
    .selected-row .product-imgs{
        width: 60%;
        min-width: 60%;
    }
    .description-chat{
        width: 60%;
        min-width: 60%;
    }
    .card-wrapper-selected {
        padding: 4% 50px;
    }
}

@media (max-width: 1050px) {
    .selected-row {
        flex-direction: column;
    }

    .description-chat{
        width: 100%;
    }

    .selected-row-message {
        flex-direction: column-reverse;
    }

    .product-showcase {
        display: flex;
        flex-direction: row;
        padding: 10px;
        height: fit-content;
        min-height: fit-content;
        gap: 10px;
    }
    .product-showcase .main-image-area,
    .product-showcase .main-image-area .main-image {
        width: 190px;
        height: 190px;
    }
    .selected-row .product-details {
        gap: 10px;
    }

    .selected-row .product-imgs,
    .selected-row .product-description-area {
        width: 100%;
    }

    .map-container {
        /* height:250px;  */
        display: none;
    }

    .map-container-mobile {
        display: flex;
        width: 100%;
        background-color: var(--accent-color);
        height: 250px;
        border-radius: var(--br-large);
    }

    .product-description-area .controls {
        margin-bottom: 20px;
    }
    .modal-content {
        width: 75%;
    }

    .about-seller {
        padding: 50px 0;
    }

    .chat-seller {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 20;
        margin: 20px 50px;
        width: -webkit-fill-available;
    }
    .chat-container {
        width: 100%;
    }

    .product-header h1 {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .product-showcase .main-image-area,
    .product-showcase .main-image-area .main-image {
        width: 100px;
        height: 100px;
    }
    .chat-container {
        min-height: 400px;
        max-height: 400px;
    }
}
@media (max-width: 550px) {
    .card-wrapper-selected {
        padding: 5% 30px;
    }
    .modal-content {
        width: 80%;
    }
    .chat-seller {
        margin: 20px 30px;
    }
}

@media (max-width: 480px) {
    .card-wrapper-selected {
        padding: 6% 20px;
    }
    .input-text input[type="text"] {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        padding: 20px;
        background-color: var(--accent-color-green);
        line-height: 25px;
        font-size: 20px;
        color: var(--font-color-light);
    }

    .input-text input[type="text"]::placeholder,
    .input-text input[type="text"]::-ms-input-placeholder,
    .input-text input[type="text"]::-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white !important;
    }

    .messages {
        height: 100% !important;
    }
}

.user-wrapper ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.user-wrapper li {
    list-style: none;
}

.user:hover {
    box-shadow: 0px 12px 32px rgb(17 16 21 / 100%);
}

.user:last-child {
    margin-bottom: 0;
}
.pending {
    position: absolute;
    left: 6px;
    top: 6px;
    background: var(--accent-color);
    margin: 0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    padding-left: 5px;
    color: #ffffff;
    font-size: 12px;
}

.media-left {
    width: fit-content;
    /* background-color: blue; */
    margin: 0 10px 0 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.media-left img {
    width: 60px;
    height: 60px;
    border-radius: 64px;
}

.media-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: left;
    vertical-align: middle;
}
.media-body p {
    width: 100%;
    height: fit-content;
}

.media-body .name {
    color: var(--accent-color);
}

.messages-container {
    /* background-color: red; */
    flex-direction: column;
    position: relative;
    padding: 0;
}

.messages-container::-webkit-scrollbar {
    display: none;
}
.message-back,
.back-placeholder {
    /* background-color: green; */
    padding: 5px 10px;
    height: 10%;
    color: var(--accent-color);
    border-bottom: 2px solid var(--text-color-light);
    display: flex;
    align-items: center;
    font-weight: bold;
}

.messages {
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    margin: 10px 0;
    padding: 0 10px;
    /* background-color:red; */
}

.messages::-webkit-scrollbar {
    display: none;
}
.messages .message {
    margin-bottom: 10px;
}
.received,
.sent {
    max-width: 70%;
    min-width: 40%;
    width: fit-content;
    padding: 6px 10px;
    border-radius: 10px;
    display: block;
}

.sent {
    background: var(--accent-color);
    float: right;
    text-align: right;
}

.received {
    /* background: #ffffff; */
    /* background: #6e4eff; */
    background-color: #151416;
}
.message p {
    margin: 5px 0;
    font-size: 14px;
}
.date {
    color: var(--text-color-light);
    font-size: 12px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    background-color: var(--background-color);
    border: none;
    color: var(--accent-color);
    /* border: 1px solid #cccccc; */
}
