.product-details-container{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    overflow-x: clip;
    padding-top:50px;
}

.card-wrapper-selected{
    width: 100%;
    max-width: 1600px;
    height: fit-content;
    padding: 5% 140px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-button{
    width: 100%;;
    padding: 10px 0;
}

.card-selected{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.selected-row{
    width: 100%;
    min-height: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-around;
    box-sizing: border-box;
}
.selected-row .product-imgs{
    width: 65%;
    display:flex;
    flex-direction: column;
}

.img-display{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--accent-color);
    position: relative;
    border-radius: var(--br-large);
    z-index:10;
}

.img-display img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    border-radius:var(--br-large)
}

.stat-container{
    position: absolute;
    top:20px;
    left:20px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0,0,0,.5);
}
.stat{
    width: 15px;
    height: 15px;
    position: relative;
    background-color: red;
    border: 2px solid white;
    border-radius: 100%;
}
.green{
    background-color: green !important;
}
.yellow{
    background-color: yellow !important;
}

.img-showcase{
    height: 125px;
    display: flex;
    gap:10px;
    overflow: scroll;
    background-color: #2D2B37;
    padding:5px;
    border-radius: var(--br-medium);
}

.img-showcase {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.img-showcase::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.img-showcase img{
    border-radius: var(--br-small);
    max-width: 250px;
    object-fit: cover;
}

.img-showcase img:hover{
    cursor: pointer;
}

.img-list{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.img-list li{
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
    position: relative;
    border: 1px solid var(--dark-color);
    margin: 5px;
    background: rgba(123,121,132,0.2); 
    /* z-index:10;  */
    box-shadow: 0px 0px 26px 11px rgb(0 0 0 / 50%);
}

.img-list li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-list li img:hover{
    cursor: pointer;
}
.product-content{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    gap: 20px;
}

.product-content .product-details{
    height: 60%;
    width: 100%;
    margin:0;
    background-color: #2D2B37;
    border-radius: var(--br-large);
    padding:10px;
    display: flex;
    flex-direction: column;
    /* gap:20px; */
    justify-content: space-between;
}

.map-container{
    width: 100%;
    flex-grow: 1;
    display: flex;
    background-color: var(--accent-color);
    border-radius: var(--br-large);
    overflow: hidden;
}

.map-container img, .map-container-mobile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details .price-favorite{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price-favorite h1{
    font-size: 30px;
}

.price-favorite form{
    height: 100%;
    width: fit-content;
    padding: 0 20px;
}

.price-favorite form button{
    color: white;
    border: none;
    outline: none;
    padding: 7px;
    background: none;
}

.price-favorite form button i{
    font-size: 30px;
    cursor: pointer;
}

.saved{
    color:var(--accent-color) !important;
}

.bouncy{
    animation: bouncy 5s infinite linear;
    position: relative;
}

@keyframes bouncy{
    0%{top: 0em;}
    40%{top: 0em;}
    43%{top: -0.7em;}
    46%{top: 0em;}
    48%{top: -0.2em;}
    50%{top: 0em;}
    100%{top: 0em;}
}

.product-details .product-header{
    width: 100%;
}

.product-header h1{
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product-extra div,
.product-category div:nth-of-type(2){
    display: flex;
    flex-direction: row;
}

.product-extra div:nth-of-type(2){
    margin-bottom: 5px;
}
.product-extra div p,
.product-category div p{
    width: 150px
}

.product-extra div span, .product-category div span{
    color:var(--accent-color);
}

.product-extra p, .product-extra i, .product-category p{
    padding:1px 0;
    height: fit-content;
    font-size: 17px;
}

.product-extra i{
    width: 20px;
    text-align: center;
    margin-right: 10px;
    color:var(--accent-color);
}

.product-category, .categories-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.categories-container{
    margin-bottom: 10px;
    width: 100%;
}

.categories-container .categories{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 0;
    flex-wrap: wrap;
}

.categories a {
    padding: 0 10px;
    background-color: var(--accent-color);
    color:white;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
}

.product-description-area{
    width: 100%;
    background-color: #2D2B37;
    padding:20px 10px;
    border-radius: var(--br-large);
    overflow: hidden;
}

.product-description-area .controls{
    width: 100%;
    height: fit-content;
    /* background-color: brown; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap:10px
}

.controls form{
    padding: 0 5px;
}
.controls form, .controls span{
    width: fit-content;
    height: 30px;
    background:none;
    border-radius: var(--br-small);
    display: flex;
    align-items: center;
}

.controls form button{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: none;
}

.controls .editForm button i,
.controls .shareForm button i,
.controls span i{
    font-size:20px;
    padding: 5px 10px;
    color:white;
    cursor: pointer;
}

.controls .editForm button i:hover,
.controls .shareForm button i:hover,
.controls span i:hover{
    color: var(--accent-color);
}

.product-description-area h1{
    margin-bottom: 10px;
}

.map-container-mobile{
    display: none;
    overflow: hidden;
}

@media(max-width:1500px){
    .card-wrapper-selected{
        padding:3% 100px;
    }
}

@media(max-width:1300px){
    .card-wrapper-selected{
        padding:3% 70px;
    }
}

@media(max-width: 1200px){
    .selected-row .product-imgs{
        width: 60%;
    }
    .card-wrapper-selected{
        padding: 2% 50px;
    }
}

@media (max-width: 1050px){
    .selected-row{
        flex-direction: column;
    }
    
    .selected-row .product-details{
        gap:10px;
    }

    .selected-row .product-imgs{
        width: 100%;
    }

    .map-container{
        /* height:250px;  */
        display: none;
    }

    .map-container-mobile{
        display: flex;
        width: 100%;
        background-color: var(--accent-color);
        height: 250px; 
        border-radius: var(--br-large);  
    }

    .product-description-area .controls {
        margin-bottom: 20px;
    }
}

@media(max-width: 550px){
    .card-wrapper-selected{
        padding: 2% 30px;
    }
}

@media(max-width: 480px){
    .card-wrapper-selected{
        padding: 2% 20px;
    }
}
/* .product-buttons ul li form{
    padding: 0;
    background-color: #312F3B !important;
}
.product-buttons ul li form button,
.product-buttons ul li form select{
    text-decoration: none;
    border: none;
    width: 100%;
    height: 100%;
    color:white;
    border: none;
    outline: none;
    padding: 7px;
    background-color: #312F3B !important;
}

.product-buttons ul li form button:hover, 
.product-buttons ul li form select:hover,
.product-buttons ul li span:hover{
    cursor:pointer;
}

.product-buttons ul li form button:hover > i,
.product-buttons ul li span:hover > i
{
    color:var(--accent-color);
}

.product-buttons ul li form button i{
    font-size: 20px;
    color:white;
}
.product-buttons ul li a i{
    font-size: 20px;
    color:white;
} */


/* .show-top{
    position: relative;
    z-index:10;
}
.product-header h1{
    font-size: 2rem;
} */
/* 
.name-status{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    border-bottom: 2px solid var(--text-color-dark);;
    margin: 0 0 5px 0;
}

.name-status h1{
    font-size: 25px;
    margin-bottom: 5px;
} */
/* 
.stat-container{
    display:flex;
    flex-direction: row;
}
.stat{
    width: 15px;
    height: 15px;
    background-color: red;
    border: 2px solid white;
    border-radius: 100%;
    margin-right: 5px;
} */
/* .green{
    background-color: green !important;
}
.yellow{
    background-color: yellow !important;
}
 */
/* 
.product-content span{
    font-weight: 300;
    color: var(--accent-color);
}

.product-details{
    text-transform: capitalize;
}

.product-details, .product-description{
    margin: 20px 0;
    color:#C9C9DC;
} */

/* .product-description p{
    font-size: .8rem;
}


.categories h4{
    color: #C9C9DC;
    margin-bottom: 5px;
} */
/* 
.categories a{
    padding: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    margin: 2px;
    display: inline-block;
    color: var(--accent-color);
} */

/* .product-buttons{
    width: 100%;
    height:fit-content;
    padding: 10px 0;
    border-radius: 5px;
    margin:10px 0;
    background-color: var(--background-color);
} */

/* .product-buttons ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* .product-buttons ul li{
    list-style:none;
    width: fit-content;
    display: block;
    width: 25%;
    display: flex;
    align-content: center;
    justify-content: center;
    border-right: 2px solid var(--text-color-dark);
} */
/* 
.product-buttons ul li:last-child{
    border-right: none;
} */

/* .product-buttons ul li a,
.product-buttons ul li form,
.product-buttons ul li span{
    width: 80%;
    padding: 7px;
    text-align: center;
    background-color: #312F3B;
    color:white;
} */


.tags-container{
    background-color: var(--background-color);
    padding: 5px;
    box-sizing: border-box;
    border-radius:12px;
}




.map-chat-container{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    height: 400px;
    /* background-color: palevioletred; */
    padding: 10px 5%;
    
}

.chat-container{
    display: flex;
    color: var(--text-color-light);
    position: relative;
    margin-left: 20px;
    background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%);
   overflow: hidden;
   padding: 10px;
   position: relative;
   z-index: 10;
}

.user-wrapper, .messages-container{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    overflow:scroll;
    overflow-x:hidden;
    scroll-behavior: auto;
    padding:10px 10px;
    display: none;
    box-shadow: inset 0px 12px 32px rgb(17 16 21 / 50%);
}

.user-wrapper::-webkit-scrollbar{
    display: none;
}


.user-wrapper ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.user-wrapper li {
    list-style: none;
}

.user, .no-messages{
    cursor: pointer;
    padding: 5px 5px;
    position: relative;
    height: 20%;
    min-height: fit-content;
    width: 100%;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    border-radius: 12px;
    background: rgba(49,47,59,0.5);
    backdrop-filter: blur(44px);
    box-shadow: 0px 12px 32px rgb(17 16 21 / 50%);
    overflow: hidden;
}

.no-messages{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user:hover {
    box-shadow: 0px 12px 32px rgb(17 16 21 / 100%);
}

.user:last-child{
    margin-bottom: 0;
}
.pending {
    position: absolute;
    left: 6px;
    top: 6px;
    background: var(--accent-color);   margin: 0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    padding-left: 5px;
    color: #ffffff;
    font-size: 12px;
}

.media-left {
    width: fit-content;
    /* background-color: blue; */
    margin: 0 10px 0 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.media-left img {
    width: 60px;
    height:60px;
    border-radius: 64px;
}

.media-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: left;
    vertical-align:middle;
}
.media-body p {
    width: 100%;
    height: fit-content;
}

.media-body .name{
    color:var(--accent-color);
}

.messages-container{
    /* background-color: red; */
    flex-direction: column;
    position: relative;
    padding: 0;
}

.messages-container::-webkit-scrollbar {
    display: none;
}
.message-back, .back-placeholder{
    /* background-color: green; */
    padding: 5px 10px;
    height: 10%;
    color:var(--accent-color);
    border-bottom: 2px solid var(--text-color-light);
    display:flex;
    align-items: center;
}

.messages{
    height: 80%;
    overflow:hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    margin:10px 0;
    padding: 0 10px;
    /* background-color:red; */
}

.messages::-webkit-scrollbar {
    display: none;
}
.messages .message{
    margin-bottom: 10px;
}
.received, .sent {
    max-width: 70%;
    width: fit-content;
    padding: 6px 10px;
    border-radius: 10px;
    display: block;
}

.sent{
    float: right;
    text-align: right;
}

.received {
    /* background: #ffffff; */
    background-color: var(--background-color);
}
.sent {
    background: var(--accent-color);
    float: right;
    text-align: right;
}
.message p {
    margin: 5px 0;
    font-size: 14px;
}
.date {
    color: var(--text-color-light);
    font-size: 12px;
} 

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    background-color: var(--background-color);
    border: none;
    color:var(--accent-color);
    /* border: 1px solid #cccccc; */
}
input[type=text]::placeholder {
    /* border: 1px solid #aaaaaa; */
    color:var(--accent-color);
}

.active{
    display:flex;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    /* background-color: brown; */
    width:100%;
    height: 100%;
    top:0;
    left:0;
    /* background-color: rgb(0,0,0); */
    background-color: rgba(0,0,0,0.7);
    z-index: 20;
}

/* Modal Content/Box */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 50%;
  height: fit-content;
  background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%);
}

.modal-content p{
    margin:10px 30px 10px 0;
    width: 100%;
    color:var(--accent-color);
}

.modal-content .clearfix{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}


