
html{
    font-size: 17px;
} 

*{
    margin:0;
    box-sizing: border-box;
    /* margin-bottom: 0 !important; */
}
body{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;

}


:root{    
    /* border radius */
    --br-small: 3px;
    --br-medium:6px;
    --br-large: 9px;

    /* red accent: #db6657 */
    /* orange accent: #C98748 */
    /* background-color: #fafafa; */
    /* color palette dark */
    /* --accent-color: #db6657;
    --background-color:#1F1D26;
    --green-accent-color:#92EBC4;
    --text-color-light:#EDEFF8;
    --text-color-dark:#C9C9DC; */

    /* color palette light */
    --background-color:white;
    --background-color-light:#fafafa;
    --background-color-dark:#2D2B37;

    --listing-color:peru;
    --rent-color:#207E82;
    --lease-color:#A98B98;
    
    --accent-color: #db6657;
    --accent-color-green:  #00a87e;
    --font-color-light:#EDEFF8;
    --font-color-dark:black;

    --border-color-1:#e2e2e2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.4);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,.6);
}

.type-sale{
    background-color: peru;
}
.type-rent{
    background-color: #207E82;
}
.type-lease{
    background-color: #A98B98;
}

.flash-message{
    position:absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color);
    color: white;
    width: fit-content;
    padding: 20px 40px;
    opacity: .9;
    border: 1px solid var(--light-color);
    border-radius: 5px;
    margin: 90px 0;
    z-index: 10;
}
.header-cont{
    width:100%;
    height: 600px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* padding-top: 50px; */
    padding: 50px 70px 0 70px;
}
.header-cont-inner{
    width: 100%;
    max-width: 1600px;
    height: 100%;
    /* margin-top: 70px; */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


    /* removing background-image */
    /* background-color: var(--dark-color);
    background:url("../images/group\ study.svg");
    background-repeat:  no-repeat;
    background-position:center -60px;
    background-size: cover; */


    /* transform: scale(.9); */
    transition: all .2s ease;
    position: relative;
    /* overflow: hidden; */
}

.hero-diagonal-blur{
    width: 70%;
    height: 100%;
    position: relative;
    /* margin-left: 50%; */
    left:80%;
    background: rgba(0, 0, 0, 0.4);
    /* backdrop-filter: blur(15px); */
    /* -webkit-backdrop-filter: blur(15px); */
    /* -ms-backdrop-filter: blur(15px); */
    transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s ease;
    z-index: 6;
    display: none;
}

.open{
    left:20% !important;
}

.open i{
    transform: rotate(180deg);
}
.arrow-icon-container{
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transform: translate(-50%, -50%) skewX(10deg);
    -ms-transform: translate(-50%, -50%) skewX(10deg);
    -webkit-transform: translate(-50%, -50%) skewX(10deg);
    background-color: #151416;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-icon-container i{
    transition: all .5s ease;
}

.arrow-icon-container:hover{
    cursor: pointer;
}

.countPlusRecent{
    height: 350px;
    width: 60%;
    background-color: brown;
    transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
}

.hero-text{
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    padding: 40px 20PX;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    text-align: left;
    /* background: rgba(0,0,0,.3); */
    transition: all .5s ease-in-out;
}

.hero-text h1{
    font-size: 50px;
}

.hero-text p{
    font-size: 20px;
    line-height: 30px;
}
.card-fan{
    width: -webkit-fill-available;
    height: 450px;
    /* background-color: #207E82; */
    background-color: var(--accent-color);
    position: absolute;
    /* margin: 0 70px; */
    top:50%;
    z-index: 1;
    transform: translateY(-50%);
    display: flex;
    z-index: 1;
    justify-content: flex-end;
    border-radius: var(--br-large);
}

.card-fan-inner{
    display: flex;
    flex-grow: 1;
    margin-left: 35%;
    height: 100%;
    position: relative;
    transition: all .5s ease-in-out;
    border-radius: var(--br-large);
    /* background-color: var(--accent-color); */
}

.header-card{
    position: absolute;
    width: 325px;
    height: 100%;
    background-color: var(--background-color-light);
    left:50%;
    /* transform: translateX(-50%); */
    border-radius: var(--br-large);
    z-index: 4;
    box-shadow: 0px 12px 32px rgb(17 16 21 / 60%);
}

.card1{
    transform: translateX(-50%) scale(.9);
    background:url("https://cmimagestoragebucket.s3.amazonaws.com/devimages/psych-textbook.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
}
.card2:before, .card3:before, .card4:before,
.card5:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background: rgba(0,0,0,.4);
    border-radius: var(--br-large);
}

.card2, .card3{
    height: 425px;
    z-index: 3;
    bottom:0;
}

.card2{
    transform:translateX(-90%) rotate(-5deg) scale(.9) ;
    background:url("https://cmimagestoragebucket.s3.amazonaws.com/devimages/dorm-bed.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
}

.card3{
    transform:translateX(-10%) rotate(5deg) scale(.9);
    background:url("https://cmimagestoragebucket.s3.amazonaws.com/devimages/dorm-desk.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
}

.card4, .card5{
    height: 400px;
    z-index: 2;
    bottom: 0;
}

.card4{
    transform:translateX(-130%) rotate(-10deg) scale(.9) ;
    background:url("https://cmimagestoragebucket.s3.amazonaws.com/devimages/dorm-couch.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
}


.card5{
    transform: translateX(30%) rotate(10deg) scale(.9);
    background:url("https://cmimagestoragebucket.s3.amazonaws.com/devimages/dorm-clothes.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
}

.main-listings-container{
    padding: 1em 0;
    box-sizing: border-box;
    /* background-color: white; */
    background-color: var(--background-color);
    /* background-color: blue; */
    /* background-color: var(--light-gray-color); */
}

.listings-parent-container{
    width:100%;
    height: fit-content;
    background-color: var(--background-color);
    box-sizing: border-box;
    padding:20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listings-container{
    background-color: gray;
}

.listing-header{
    box-sizing: border-box;
    padding: 20px 0 10px 5px;
    border-bottom: #272727 1px solid;
}

.newsletter-form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px; 
}    

.newsletter-form .fa-solid{
    font-size: 18px;
    margin-right: 10px;
}

.newsletter-form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.newsletter-form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.newsletter-form button .fa-solid{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
}


/* listing tags styling begin */

.unordered-tags-list{
    list-style-type: none;
}

.tags-list-item{
    display: inline-block;
    padding: 0 5px;
    /* background-color: var(--accent-color); */
    /* backdrop-filter: blur(10px); */
    /* background: linear-gradient(261.71deg, #3A3845 13.92%, #2C2A36 84.19%); */
    background-color: #3A3845;
    /* background-color: rgb(17 16 21 / 25%); */
    color: white;
    margin: 2.5px !important;
    border-radius: 5px;
    padding: 2px 6px;
    /* border: 1px solid black; */
    width: fit-content;
    height: fit-content !important;
    text-align: center;
}

.tags-list-item:hover{
    background-color: var(--accent-color);
}
.tags-list-item a{
    text-decoration: none;
    /* color: white; */
    color:var(--text-color-light);
    font-weight: 300 !important;
}


.button1 {
    display: inline-block;
    padding: 0.5em 1.2em;
    /* margin: 0 0.5em 0.5em 0; */
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    background: linear-gradient(180deg, #F76F62 0%, #E84848 100%);
    /* box-shadow: 0px 4px 24px rgb(244 99 67 / 32%); */
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    border: none;
    cursor: default;
}

.paginate-previous,
.paginate-next{
    margin:0;
}

.empty-gallary-message{
    padding: 15px 25px;
    height: 20%;
    color:var(--accent-color);
    width: 100%;
    border-radius: 12px;
    background: rgba(49,47,59,0.5);
    backdrop-filter: blur(44px);
    box-shadow: 0px 12px 32px rgb(17 16 21 / 50%);
    margin:10px 0;
}
/* 

.loading-page{
    position: fixed;
    width: 100%;
    height:calc(100% + 70px);
    z-index: 100;
    top:-70px;
    background-color: rgba(0,0,0,0.7);
    display: none;
    
}

.loading-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-icon i{
    font-size: 200px;
}
*/

/* loading page */
.loader-wrapper {
  /* width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center; */
    position: fixed;
    width: 100%;
    height:calc(100% + 70px);
    z-index: 100;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@media(max-width:1350px){
    
    .card-fan-inner{
        margin-left:25%;
    }
    .card1{
        transform:translateX(-50%) scale(.8);
    }
    .card2{
        transform: translateX(-90%) rotate(-5deg) scale(.8);
    }
    .card3{
        transform: translateX(-10%) rotate(5deg) scale(.8);
    }
    .card4{
        transform: translateX(-130%) rotate(-10deg) scale(.8);
    }
    .card5{
        transform: translateX(30%) rotate(10deg) scale(.8);
    }
}
@media(max-width: 1250px){
    /* .header-cont-inner{
        background-position: center -30px;
        transform: scale(1.1);
    } */

    .countPlusRecent{
        height: 300px;
    }
    /* .hero-diagonal-blur{
        padding-right:20px;
    } */
}

@media(max-width: 1200px){
    .listings-parent-container{
        padding: 20px 50px;
    }
    .header-cont{
        padding: 50px 50px 0 50px;
    }
    /* .card-fan{
        margin:0 50px;
    } */
}

@media(max-width:1150px){
    .hero-text{
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        /* margin: 10px; */
        /* padding:40px; */
        max-width: max-content;
    }
    .card-fan-inner{
        background-color: var(--accent-color);
        margin-left: 0;
    }
    .card1:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        background: rgba(0,0,0,.4);
        border-radius: var(--br-large);
    }
}

@media(max-width: 1100px){
    /* .header-cont-inner{
        background-position: center -10px;
        transform: scale(1.15);
    } */
    .countPlusRecent{
        height: 275px;
    }
    /* .hero-diagonal-blur{
        padding-right:40px;
    } */
}

@media(max-width:1000px){
    /* .header-cont-inner{
        background-position: center 10px;
        transform: scale(1.25);
    } */

    .countPlusRecent{
        height: 250px;
    }
    /* .hero-diagonal-blur{
        padding-right:60px;
    } */
    .card1{
        transform:translateX(-50%) scale(.8);
    }
    .card2{
        transform: translateX(-80%) rotate(-5deg) scale(.8);
    }
    .card3{
        transform: translateX(-20%) rotate(5deg) scale(.8);
    }
    .card4{
        transform: translateX(-110%) rotate(-10deg) scale(.8);
    }
    .card5{
        transform: translateX(10%) rotate(10deg) scale(.8);
    }
}
@media(max-width:950px){
    .hero-diagonal-blur{
        width:80%;
    }
}

@media(max-width: 900px){

    .header-cont div h1{
        font-size: 40px;
    }

    .header-cont div p{
        font-size: 25px;
    }
    /* .hero-diagonal-blur{
        left: 0;
        width: 100%;
        transform: skewX(0);
        -ms-transform: skewX(0);
        -webkit-transform: skewX(0);

        background: rgba(0, 0, 0, 0.01);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter:blur(5px);
        padding-right:0;
    } */
    /* .open{
        left:0 !important;
    }
    .arrow-icon-container{
        display: none;
    } */
    .countPlusRecent{
        width: 50%;
         /* transform: skewX(0);
        -ms-transform: skewX(0);
        -webkit-transform: skewX(0); */
    }
}

@media(max-width: 800px){
    .countPlusRecent{
        width: 60%;
    }
    .card1{
        transform:translateX(-50%) scale(.7);
    }
    .card2{
        transform: translateX(-80%) rotate(-5deg) scale(.7);
    }
    .card3{
        transform: translateX(-20%) rotate(5deg) scale(.7);
    }
    .card4{
        transform: translateX(-110%) rotate(-10deg) scale(.7);
    }
    .card5{
        transform: translateX(10%) rotate(10deg) scale(.7);
    }
}
@media(max-width: 700px){

    .header-cont div h1{
        font-size: 30px;
    }

    .header-cont div p{
        font-size: 20px;
        line-height: 25px;
    }
}
@media(max-width: 600px){
    .countPlusRecent{
        width: 65%;
    }
    .open{
        left:10%;
    }
    .hero-diagonal-blur{
        width: 100%;
    }
}

@media(max-width:550px){
    .listings-parent-container{
        padding:30px;
    }
    .header-cont{
        padding: 50px 30px 0 30px;
    }
}

@media(max-width: 480px){
    .header-cont{
        padding: 50px 20px 0 20px;
    }
    .listings-parent-container{
        padding: 20px;
    }
    .header-cont div h1{
        font-size: 25px;
    }

    .header-cont div p{
        font-size: 18px;
        line-height: 22px;
    }
}

@media(max-width: 400px){
    .countPlusRecent{
        height: 200px;
        width: 225px;
        aspect-ratio: none;
    }
}

@media(max-width:370px){
    .header-cont div h1{
        font-size: 18px;
    }

    .header-cont div p{
        font-size: 16px;
        line-height: 20px;
    }
}